{% extends "layout.html" %}

{% block article_body %}

<figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod-us.s3.amazonaws.com%2Fc72ccc9e-a289-11e6-aa83-bcb58d1d2193?source=next&fit=scale-down&width=700"></img>
    <figcaption class="o-typography-caption">
    Paul McCartney in 1965 © Getty
  </figcaption>
</figure>

{% markdown %}

In his two performances at the Californian Desert Trip festival last month, Paul McCartney played for nearly three hours each time but still managed to omit one of his most famous songs. <span class="g-audio">“Yesterday”<audio controls=""><source src="audio/1mccartney.mp3" type="audio/mpeg"></source></audio></span> is one of the most regularly played numbers in the 74-year-old’s touring canon, but perhaps he decided that the audience at what was dubbed “Oldchella” didn’t want to be reminded that they were clinging on to the music of the past.

Despite its popularity — it’s one of the most covered songs in history — “Yesterday” has a divisive reputation among listeners: to fans, it’s a gorgeously simple, melancholy ballad; to detractors, it’s the first major manifestation of McCartney’s Achilles heel — his mawkish sentimentality. Whichever camp you fall into, “Yesterday” was certainly the seed of future ructions in the band dynamics.

<div id="audio-embed">
<iframe width="100%" height="100" src="http://embed.acast.com/ft-arts/thelifeofasong-yesterday" scrolling="no" frameborder="0" style="border:none;overflow:hidden;"></iframe>
</div>

McCartney has said that the tune came to him almost fully formed in a dream one night in London in 1963. The then 21-year-old McCartney was living in an attic room in the five-storey Georgian family home in London’s Marylebone of his girlfriend, Jane Asher. He had begun dating the 17-year-old after the Radio Times sent her to interview The Beatles at a Royal Albert Hall gig earlier that year. The Beatles had just begun renting a flat together on Green Street, just off Park Lane. Despite finally having his own room, McCartney hated the austere surroundings of the sparsely furnished apartment. By contrast, Jane’s mother, Margaret Asher, a professor at the Royal Academy of Music, created a warm home for her husband and three children, and invited Jane’s boyfriend to come and live with them.

In this cosy atmosphere McCartney woke, he said, with the tune in his head, leapt up, and on the piano next to his bed, hammered out the wistful melody. Convinced that it must be one of the old jazz tunes his father listened to, he played the song to everyone he knew to see if they recognised it. This was what he was doing one evening at the flat of actress and singer Alma Cogan on Kensington High Street. As he sat playing the still wordless tune to Cogan and her sister Sandra, their mother Fay walked into the living room and asked if anyone would like some scrambled eggs. McCartney sang the words on top of the melody, improvising for the next line: “Oh baby, how I love your legs.”

“Scrambled eggs” remained the song’s lyric until a trip to Portugal in 1965, where McCartney said the words suddenly came to him on the long drive from the airport. He scribbled them down on the back of an envelope.

Going into the studio to record the song, the rest of the band found themselves redundant. George Martin felt that what “Yesterday” needed was not drums and guitars but a string quartet. McCartney feared that their producer was doing a “Mantovani” but acquiesced. Because it was a solo performance, and because it was so unlike any of their previous output, The Beatles initially vetoed a release in the UK, letting both <span class="g-audio">Matt Monroe<audio controls=""><source src="audio/3monro.mp3" type="audio/mpeg"></source></audio></span> and ironically, Mantovani have hits with it before they did.

Few of the thousands of covers of the song have enhanced its charms — in the case of Linkin Park’s, quite the opposite. The most fertile period for interpretations was in the five years after it was released, where everyone from <span class="g-audio">Elvis<audio controls=""><source src="audio/4presley.mp3" type="audio/mpeg"></source></audio></span> to Frank Sinatra tackled the strange juxtaposition between the chorus and verse. Most often “Yesterday” has been like an old mirror, dully reflecting back the style of the singer rather than revealing hidden depths within the song itself.

The most successful attempts have tended to be by more singular vocalists, such as <span class="g-audio">Marianne Faithfull’s delicate 1965 rendition<audio controls=""><source src="audio/5faithfull.mp3" type="audio/mpeg"></source></audio></span> or Willie Nelson’s honeyed drawl on his 1966 live Country Music Concert album. Only <span class="g-audio">Marvin Gaye in 1970<audio controls=""><source src="audio/6gaye.mp3" type="audio/mpeg"></source></audio></span> seems to find a whole other “Yesterday”, swapping the plaintive stillness of the original for a swinging soul shuffle and a yearning gospel cry that manages to make being trapped in the past sound almost like heaven rather than hell.

{% endmarkdown %}
{% endblock %}
